$phone: 480px;
$tablet: 768px;
$laptop: 1024px;
$desktop: 1200px;

.container{
    background-color: #02203c;
    color: white;
    align-items: center;
    flex-direction: column;
    // border: solid red;
    // display: none;
    // padding-top: 2%;
    // padding-bottom: 18%;
    // border: solid red;

}

.title{
    // border:solid;
    display: flex;
    justify-content: center;
    margin-left: 5%;
    padding:3%;
    position: relative;
    text-decoration: none;
    // font-size: 40px;
}

.intro{
    // border:solid;
    text-align: center;
    padding-bottom: 3%;
    width: 50%;
    // margin-left: 15%;
}



.projectContainer{
    // border: solid green;
    display: flex;
    flex-direction: column;
}

.content{
    // border: solid;
    width: 100%;
    display:flex;
    flex-direction: row;
    justify-content: space-evenly;
    margin: 1% 0;

}

.projectImage {
    // border: solid;
    border-radius: 5px;
    width: 30vw;
}

.buttonAndDescriptionContainer{
    // border: solid;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 30%;
    // padding: 0 10%;

}

.description{
    // border: solid;
    text-align: center;
}

.buttonContainer{
    // border: solid;
    width: 100%;
    display: flex;
    justify-content: center;

}

.button{
    outline: none;
    border:none;
    background-color: #6868d1;
    color: white;
    border-radius: 5px;
    margin:1%;
    padding: 2% 3%;
    // width: 5vw;
}

button:hover {
    background-color: #3b3b7a;
    transition: all 0.2s ease-in-out 0s; 
    cursor: pointer
}

@media only screen and (max-width: $phone) {
    .container{

        .title{
            padding-bottom: 10%;
        }
    
        .intro{
            display: none;
        }
    
        .projectContainer{
            flex-direction: column;
            .content{
                // border: solid red;
                align-items: center;
                margin-bottom: 10%;
                flex-direction: column;
            }
        
            .projectImage{

                width: 80vw;
            }
        
            .buttonAndDescriptionContainer{
                width: 80%;
        
            }
            .button{
                padding: 2% 3%;

            }
        }
    }
}

// @media only screen and (min-width: 401px) and (max-width: 499px) {/*plus size phone*/
//     .container{

//         // border: solid green; 
//         font-size: 17px;
//         width: 171%;
//         padding-top: 35%;
//     }
//     .title{
//         // border: solid purple;
//         margin-top: 10%;
//         padding-bottom: 10%;
//     }

//     .intro{
//         display: none;
//         // width: 80%;
//     }

//     .projectContainer{
//         // border: solid yellow;
//         flex-direction: column;
//     }
//     .content{
//         // border: solid red;
//         align-items: center;
//         margin-bottom: 10%;
//         flex-direction: column;
//     }

//     .projectImage{
//         // border: solid;
//         margin-top: -5vh;
//         width: 45%;
//     }

//     .buttonAndDescriptionContainer{
//         // border: solid orange;
//         padding: 0;

//     }
//     .button{
//         padding: 2% 3%;
//         font-size: 20px;
//     }

// }
// @media only screen and (min-width: 500px) and (max-width: 999px) {/*ipad*/
//     .container{
//         // border: solid green; 
//         font-size: 17px;
//     }
//     .title{
//         margin-top: 10%;
//         margin-bottom: 15%;
//     }

//     .intro{
//         display: none;
//         // width: 80%;
//     }

//     .projectContainer{
//         // border: solid;
//         flex-direction: column;
//     }
//     .content{
//         // border: solid red;
//         align-items: center;
//         margin-bottom: 15%;
//         flex-direction: column;
//     }

//     .projectImage{
//         // border: solid;
//         margin-top: -5vh;
//         width: 45%;
//     }

//     .buttonAndDescriptionContainer{
//         // border: solid orange;
//         padding: 0 5%;

//     }
//     .button{
//         padding: 2% 3%;
//         font-size: 17px;
//     }
// }


// @media only screen and (min-width: 1000px) and (max-width: 2000px) { /*ipad pro*/
//     .container{
//         // border: solid green; 
//     }
//     .title{
//         margin-top: 10%;
//     }

//     .intro{
//         // display: none;
//         width: 80%;
//     }

//     .projectContainer{
//         flex-direction: column;
//     }
//     .content{
//         // border: solid red;
//         align-items: center;
//         margin-bottom: 5%;
//     }

//     .projectImage{
//         // border: solid;
//         margin-top: -5vh;
//         width: 45%;
//     }

//     .buttonAndDescriptionContainer{
//         // border: solid orange;
//         padding: 0 5%;

//     }
//     .button{
//         padding: 2% 3%;
//         font-size: 17px;
//     }
// }