
.container{
    // display: flex;
    // justify-content: flex-end;
    // padding-top: 1%;
    // width: 99%;
}
  
.button{
    position: fixed;
    bottom: 20px;
    right: 30px;
    z-index: 99;
    outline:none;
    border:0;
    background-color: #295e8f;
    color: white;
    border-radius: 50%;
    width: 60px;
    height: 60px;
  
    &:hover {
        background-color: #0b4174;
        transition: all 0.2s ease-in-out 0s;
        cursor: pointer
    }
}