.container{
    background-color: #02203c;
    color: white;
    padding-bottom: 2%;
    // padding: 0 6% 2% 6%;



}

.title{
    display: flex;
    justify-content: center;
    // color:#02203c;  
    // padding-top: 2%;
    padding-bottom: 1%;
    margin: 0;
    font-size: 55px;
    position: relative;
    text-decoration: none;
    &:hover {
        color: white;
        cursor: default;
    }
}
// this is for the animated underline for title
.title::before {
    content: "";
    position: absolute;
    width: 11%;
    height: 3px;
    bottom: 20%;
    left: 44.5%;
    background-color: white;
    visibility: hidden;
    transform: scaleX(0);
    transition: all 0.3s ease-in-out 0s;
  }

  .title:hover::before {
    visibility: visible;
    transform: scaleX(1);
  }

.intro{
    font-size: 25px;
    text-align: center;
    padding-bottom: 3%;
    width: 75%;
    margin-left: 15%;
}

.projects{
    border: solid;
}
