
.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    color:#15314b;
    line-height: 1.7em;
    margin: 5%;
    width: 50%;

    // height: 500px;
    // overflow: auto;

    .title {
        display: flex;
        justify-content: center;
    }
}

$phone: 480px;
$tablet: 768px;
$laptop: 1024px;
$desktop: 1200px;

@media screen and (max-width: $phone){
    .container{
        width: 100%;
        margin: 0;
        
        .info {
            padding: 0 10%;
        }
    }
}


// @media screen and (min-width: $phone) and (max-width: $tablet){

// }

// @media screen and (min-width: $tablet) and (max-width: $laptop){

// }

// @media screen and (min-width: $laptop) and (max-width: $tablet){

// }

