
.container{
    // border: solid red;
    color:#15314b;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 1000px;
    height: 600px;
    // border-radius: 15px;
    font-family: 'Montserrat', sans-serif;
    font-size: 15px;
    text-align: center;
    line-height: 200%;
    margin: 5%;
}

.title{
    // border: solid;
    display: flex;
    justify-content: center;
    font-size: 40px;
}

$phone: 480px;
$tablet: 768px;
$laptop: 1024px;
$desktop: 1200px;

@media screen and (max-width: $phone){
    .container{
        // display: none;
        height: auto;
        margin: 5% 0 0 0;
        width: 100vw !important;
        font-size: 12px;
        .title{
            font-size: 45px;
        }
        .info{
            width: 80%;
        }
    }
}


@media screen and (min-width: $phone) and (max-width: $tablet){

}

@media screen and (min-width: $tablet) and (max-width: $laptop){

}

@media screen and (min-width: $laptop) and (max-width: $tablet){

}

