
.container{
    // border: solid yellow;
    display: flex;
    justify-content: flex-start;
    background-color: #02203c;
    color: white;
    // padding: 5% 5% 25% 5%;
    height: 100vh;
    padding: 0 3%;
}

.introContainer{
    // border: solid;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
    text-align: center;
    width: 50%;
    height: 50%;
    
    position: relative;
    animation-name: introContainerAnimation;
    animation-duration: 1s;
    animation-fill-mode: forwards;
    left: -1000px;
    opacity: 0;

    .intro {
        letter-spacing: 0.1em;
        line-height: 1.4em;
    }
}

    @keyframes introContainerAnimation{
        100%{
            left:0;
            opacity:1;
        };
    }

.buttonContainer{
    width: 100%;
    // animation-name: buttonContainerAnimation;
    // animation-duration: 1s, 0.5s;
    // animation-delay:3s;
    // animation-fill-mode: forwards;
    // opacity: 0;
}

// @keyframes buttonContainerAnimation{
//     100%{
//         width:100%;
//         // opacity: 1;
//     };
// }

.button{
    outline: none;
    border:none;
    background-color: #6868d1;
    color: white;
    border-radius: 10px;
    margin:1%;
    padding: 1% 2%;
}

button:hover {
    background-color: #3b3b7a;
    transition: all 0.2s ease-in-out 0s;
    cursor: pointer
}

// #button1{
//     animation-name: button1Animation;
//     animation-duration: 1s, 0.5s;
//     animation-delay:2s;
//     animation-fill-mode: forwards;
//     transform: scale(0);
// }

// @keyframes button1Animation {
//     100% {
//         transform: scale(1);
//     }
// }

// #button2{
//     animation-name: button2Animation;
//     animation-duration: 1s, 0.5s;
//     animation-delay:2.5s;
//     animation-fill-mode: forwards;
//     transform: scale(0);
// }

// @keyframes button2Animation {
//     100% {
//         transform: scale(1);
//     }
// }

// #button3{
//     animation-name: button1Animation;
//     animation-duration: 1s, 0.5s;
//     animation-delay:3s;
//     animation-fill-mode: forwards;
//     transform: scale(0);
// }

// @keyframes button2Animation {
//     100% {
//         transform: scale(1);
//     }
// }

.image{
    // border: solid;
    margin-top: 10%;
    // width:50%;
    height: 750px;
    border-radius: 15px;
    // margin-left: 2%;
    // margin-right: -5%;

    position: relative;
    animation-name: imageAnimation;
    animation-duration: 1s;
    animation-delay: 1s;
    animation-fill-mode: forwards;
    right: -1000px;
    opacity: 0;
}

@keyframes imageAnimation{
    100%{
        right:0;
        opacity:1;
    };
}

@media only screen and (max-width: 400px) {/*iphoneX*/
    .container{
        // border: solid red;
        justify-content: center;
        // align-items: center;
        height: 208vh;
        width:93vh;
    
    }
    
    .introContainer{
        // border: solid;
        padding: 0 10%;
        // margin-top: -10%;
        width: 100%;
        justify-content: flex-end;
        font-size: 25px;
        // align-items: center;
    }
    
    .buttonContainer{
        padding-top: 5%;
    }
    
    .button{
        padding: 2% 6%;
    }
    
    
    .image{
        display: none;
    }
}
  
@media only screen and (min-width: 401px) and (max-width: 750px) {/*plus size phone*/
    .container{
        // border: solid red;
        justify-content: center;
        // align-items: center;
        // margin-top: 9.75%;
        // padding-top: 25%;
        height: 200vh;
        width:93vh;
    
    }
    
    .introContainer{
        // border: solid;
        padding: 0 10%;
        width: 100%;
        justify-content: flex-end;
    }
    
    .buttonContainer{
        padding-top: 5%;
    }
    
    .button{
        padding: 2% 6%;
    }
    

    .image{
        display: none;
    }
}

@media only screen and (min-width: 750px) and (max-width: 799px) {/*ipad*/
    .container{
        margin-top: 9.75%;
        padding-top: 10%;

    
    }
    
    .introContainer{
        // border: solid;
        padding: 0 10%;
        width: 100%;
        justify-content: center;
        font-size: 15px;
    }
    
    .buttonContainer{
        padding-top: 5%;
    }
    
    .button{
        padding: 2% 6%;
    }
        
    .image{
        display: none;
    }
}


@media only screen and (min-width: 800px) and (max-width: 1100px) { /*ipad pro*/
.container{
    margin-top: 9.75%;
    padding-top: 10%;

}

.introContainer{
    // border: solid;
    padding: 0 10%;
    width: 100%;
    justify-content: center;
}

.buttonContainer{
    padding-top: 5%;
}

.button{
    padding: 2% 6%;
}


.image{
    display: none;
}


}