
.container{
    // border: solid yellow;
    // margin-top: 4.2%;
    display: flex;
    justify-content: center;
    background-color: #02203c;
    color: white;
    height: 100vh;
    padding: 0 3%;
}

.introContainer{
    // border: solid;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    // justify-content: flex-start;
    // text-align: center;
    width: 50vw;
    height: 50vh;
    padding: 6% 0 0 10%;
    // margin-right: 2%;
    // z-index: 2;
    // padding: 0 5%;
    
    position: relative;
    animation-name: introContainerAnimation;
    animation-duration: 1s;
    animation-fill-mode: forwards;
    left: -1000px;
    opacity: 0;

    #myName{
        font-size: 70px;
        margin-bottom: 0;
    }
    .intro {
        font-size: 40px;
    }
}

    @keyframes introContainerAnimation{
        100%{
            left:0;
            opacity:1;
        };
    }


.buttonAndImageContainer{
    display: flex;
    flex-direction: row;
    width: 60vw;
    margin-top: 2%;
}
.buttonContainer{

    width: 18vw;

}


.button{
    outline: none;
    border:none;
    background-color: #6868d1;
    color: white;
    border-radius: 5px;
    margin:1%;
    padding: 2% 3%;
    width: 10vh;
    font-size: 20px;
}

button:hover {
    background-color: #3b3b7a;
    transition: all 0.2s ease-in-out 0s;
    cursor: pointer
}


.image{
    height: 35vh;
    border-radius: 10px;
    margin-top: -2vh;

    position: relative;
    animation-name: imageAnimation;
    animation-duration: 1s;
    animation-delay: 0.75s;
    animation-fill-mode: forwards;
    opacity: 0;
}

@keyframes imageAnimation{
    0% {
        opacity: 0;
        transform: translateX(-20px);
     }
     100% {
        opacity: 1;
        transform: translateX(0);
     }

}

@media only screen and (max-width: 400px) {/*iphoneX*/
    .container{
        // border: solid red;
        align-items: center;
        height: 208vh;
        width: 208vw;
        padding: 0;
    
    }
    
    .introContainer{
        // border: solid;
        margin-top: -50vh;
        width: 100%;
    }
    
    .buttonAndImageContainer{
        // border: solid;
        width: 180vw;
        justify-content: space-between;
    }
    
    .buttonContainer{
        // border: solid;
        width: 100%;
    }
    
    .button{
        width: 31%;
    }
    .image{
        display: none;
    }
}
  
@media only screen and (min-width: 401px) and (max-width: 499px) {/*plus size phone*/
    .container{
        // border: solid red;
        align-items: center;
        height: 171vh;
        width: 171vw;
        padding: 0;
    
    }
    
    .introContainer{
        // border: solid;
        margin-top: -50vh;
        width: 100%;
    }
    
    .buttonAndImageContainer{
        // border: solid;
        width: 140vw;
        justify-content: space-between;
    }
    
    .buttonContainer{
        // border: solid;
        width: 100%;
    }
    
    .button{
        width: 31%;
    }
    .image{
        display: none;
    }
}

@media only screen and (min-width: 750px) and (max-width: 799px) {/*ipad*/
    .container{
        margin-top: 9.75%;
        padding-left: 0;
    
    }
    
    .introContainer{
        width: 100%;
    }
    
    .buttonAndImageContainer{
        width: 90vw;
        justify-content: space-between;
    }
    
    .buttonContainer{
        width: 50%;
    }
    
    .image{
        height: 17vh;
        margin-top: -5vh;
    }
    
}

@media only screen and (min-width: 800px) and (max-width: 900px){ /*iphone x vertical view*/
    .container{
        margin-top: 0;
        padding-top: 0;
    
    }
    
    .introContainer{
        width: 100%;
    }
    
    .buttonAndImageContainer{
        width: 90vw;
        justify-content: space-between;
    }
    
    .buttonContainer{
        width: 50%;
    }
    
    .image{
        height: 17vh;
        margin-top: -5vh;
    }
    
  }


@media only screen and (min-width: 800px) and (max-width: 1100px) { /*ipad pro*/
.container{
    margin-top: 9.75%;
    padding-left: 0;

}

.introContainer{
    width: 100%;
}

.buttonAndImageContainer{
    width: 90vw;
    justify-content: space-between;
}

.buttonContainer{
    width: 50%;
}

.image{
    height: 17vh;
    margin-top: -5vh;
}

}

//below are responsiveness when having different window sizes
@media only screen and (min-width: 500px) and (max-width: 600px) and (min-height: 1080) {


}
