.container{
    color:#15314b;  
    padding-bottom: 13%;
    // border:solid black;

}


.title{
    // border: solid;
    display: flex;
    justify-content: center;
    // color:#02203c;  
    // padding-top: 2%;
    font-size: 50px;

    &:hover {
        color:#02203c;  
        cursor: default;
    }

}

.title::before {
    content: "";
    position: absolute;
    width: 11%;
    height: 3px;
    bottom: -14%;
    background-color: #15314b;
    visibility: hidden;
    transform: scaleX(0);
    transition: all 0.3s ease-in-out 0s;
  }

  .title:hover::before {
    visibility: visible;
    transform: scaleX(1);
  }


.contentContainer{
    // border:2px solid black;
    width: 99%;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.cardContainer{
    // border: 2px solid black;
    width: 25%;
    margin-left: 10%;
    margin-right: 2%;
    margin-top: 2%;
}


.card{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 5%;
    width: 80%;
    height: 90%;
    border-top: 10px solid #6868d1;

}

.picture{
    border-radius: 90%;
}

.infoContainer{
    // border: 2px dashed black;
    width: 50%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding-bottom: 2%;
    font-size: 20px;
}

.info{
    text-align: center;
    color:#02203c;  

}

.buttonContainer{
    // border: 2px solid black; 
    width: 100%;
    display: flex;
    justify-content: center;
}

.button{
    outline: none;
    border:0;
    background-color: #6868d1;
    color: white;
    width: 21%;
    margin-top: 5%;
    padding-top: 1%;
    padding-bottom: 1%;
    font-size: 20px;
    border-radius: 25px;
}

button:hover {
    background-color: #3b3b7a;
    transition: all 0.2s ease-in-out 0s;
    cursor: pointer
}
