.container{
    color:#15314b;  
    // padding-top: 5%;
    // padding-bottom: 13%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    // padding-top: 3vh;

}

.title{
    display: flex;
    justify-content: center;

    &:hover {
        color:#02203c;  
        cursor: default;
    }

}

.infoContainer{
    width: 50%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding-bottom: 3%;
}

.info{
    text-align: center;
    color:#02203c;  
    line-height: 200%;
}

.buttonContainer{
    // border: 2px solid black; 
    width: 50vw;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 2%;
}

.button{
    outline: none;
    border:none;
    background-color: #6868d1;
    color: white;
    border-radius: 5px;
    margin:1%;
    padding: 1% 2%;
    width: 9vw;
    font-size: 17px;
}

.cardButtonContainer{
        display: none;
}

button:hover {
    background-color: #3b3b7a;
    transition: all 0.2s ease-in-out 0s;
    cursor: pointer
}

.modal{
    display: flex;
    justify-content: center;
    align-items: center;
    // width: 70%;
    margin:0 0 15% 20%;
    // margin-bottom:

    outline: none !important; 
}

@media only screen and (max-width: 400px) {/*iphoneX*/
    .container{
        // border: solid red;
        width: 206vw;
        height: 165vh;
        padding-top: 25%;
    }
    .infoContainer{
        width: 90%;
    }
    .info{
        // border: solid red;
        line-height: 150%;
        font-size: 20px;
    }
    .buttonContainer{
        // border: solid;
        width: 180vw;
    }
    .button{
        width: 50vw;
        padding-top: 3%;
        padding-bottom: 3%;
    }
}
  
@media only screen and (min-width: 401px) and (max-width: 750px) {/*plus size phone*/
    .container{
        // border: solid red;
        width: 169vw;
        height: 165vh;
        padding-top: 25%;
    }
    .infoContainer{
        width: 90%;
    }
    .info{
        // border: solid red;
        line-height: 125%;
        font-size: 20px;
    }
    .buttonContainer{
        // border: solid;
        width: 150vw;
    }
    .button{
        width: 45vw;
        padding-top: 2%;
        padding-bottom: 2%;
    }
}

@media only screen and (min-width: 750px) and (max-width: 799px) {/*ipad*/
    .infoContainer{
        width: 90%;
    }
    
    .info{
        // border: solid red;
        line-height: 123%;
        font-size: 18px;
    }
    .buttonContainer{
        // border: solid;
        width: 90vw;
    }
    .button{
        width: 25vw;
        padding-top: 2%;
        padding-bottom: 2%;
    }
}


@media only screen and (min-width: 800px) and (max-width: 1100px) { /*ipad pro*/
    .container{
        // border: solid yellow
    }
    .infoContainer{
        width: 80%;
    }
    
    .info{
        // border: solid red;
        line-height: 133%;
    }
    .buttonContainer{
        width: 80vw;
    }
    .button{
        width: 20vw;
        padding-top: 2%;
        padding-bottom: 2%;
    }
}