.container{
    color:#15314b;  
    padding: 3% 5% 5% 5%;

}

.title{
    display: flex;
    margin:0;
    justify-content: center;
    position: relative;
    text-decoration: none;
    font-size: 50px;
    padding-bottom: 2%;

    &:hover {
        color:#02203c;  
        cursor: default;
    }

}

.title::before {
    content: "";
    position: absolute;
    width: 15%;
    height: 3px;
    bottom: 37%;
    // left: 44%;
    background-color: #02203c;
    visibility: hidden;
    transform: scaleX(0);
    transition: all 0.3s ease-in-out 0s;
  }

  .title:hover::before {
    visibility: visible;
    transform: scaleX(1);
  }


.contactContainer{
    display: flex;
    width: 50%;
    margin-left: 25%;
    justify-content: center;
    flex-direction: column;
}


.infoContainer{
    display: flex;
    // flex-direction: row;
    justify-content: center;
    align-items: center;
    padding-bottom: 1%;
    padding-left: 2%;
}

.info{
    width: 25%;
    margin-right: 2%;
    margin-top: 0;
    width: 50%;
    height: 50px;
    position: relative;
    text-align: center;
    font-size: medium;
    border-top: none;
    border-left: none;
    border-right: none;
    background-color: initial;
    border-bottom: solid #295e8f; 
    outline: none;
    &:hover{
        color:#02203c;  
        cursor: default;
    }
}

.message{
    outline: none;
    border-radius: 10px;
    border: solid #295e8f;
    padding: 10px 0 200px 0;
    margin: 2% 0;
    width: 100%;
}

.button{
    outline: none;
    border:none;
    background-color: #6868d1;
    color: white;
    border-radius: 10px;
    width: 25%;
    font-size: 17px;
    margin:1% 1% 1% 35%;
    padding: 1% 2%;
}

.button:hover {
    background-color: #3b3b7a;
    transition: all 0.2s ease-in-out 0s;
    cursor: pointer
}

.myInformationContainer{
    // border: solid
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    // margin-right: 2%;
    align-items: center;
    width: 30%;
    margin-left: 32%;
    margin-top: 5%;
}

.phone{
    &:hover{
        cursor: default;
    }
}

.link{
    outline: none;
    border: none;
    background-color:#295e8f ;
    &:hover{
        background-color: #0b4174;
    }
}

.icon{
    // border: solid red;
    padding: 8%;
}

@media only screen and (max-width: 500px) {/*iphoneX*/
    .container{
        // border: solid red;
        width: 155%;
    }
    .contactContainer{
        // border: solid green;
        width: 80%;
        margin-left: 10%;
    }
    
    .myInformationContainer{
        // border: solid green;
        width: 70%;
        margin-left: 12%;
    }
}

@media only screen and (min-width: 400px) and (max-width: 750px) {/*plus size phone*/
}
@media only screen and (min-width: 750px) and (max-width: 799px) {/*ipad*/
    .contactContainer{
        // border: solid green;
        width: 80%;
        margin-left: 10%;
    }

    .myInformationContainer{
        // border: solid green;
        width: 50%;
        margin-left: 22%;
    }
}


@media only screen and (min-width: 800px) and (max-width: 1100px) { /*ipad pro*/
    .contactContainer{
        // border: solid green;
        width: 80%;
        margin-left: 10%;
    }

    .myInformationContainer{
        // border: solid green;
        width: 50%;
        margin-left: 22%;
    }
}