.container{
    color:#15314b;  
    // padding-bottom: 15%;
    // margin-top: ;
}

.title{
    // border: solid;
    display: flex;
    margin:0;
    justify-content: center;
    position: relative;
    text-decoration: none;
    font-size: 50px;

    &:hover {
        color:#02203c;  
        cursor: default;
    }

}

.title::before {
    content: "";
    position: absolute;
    width: 12%;
    height: 3px;
    bottom: 0;
    left: 44%;
    background-color: #02203c;
    visibility: hidden;
    transform: scaleX(0);
    transition: all 0.3s ease-in-out 0s;
  }

  .title:hover::before {
    visibility: visible;
    transform: scaleX(1);
  }


.intro{
    // border: 2px solid black;
    margin:0;
    font-size: 25px;
    display: flex;
    justify-content: center;
}

.phone{
    // border: 2px solid black;
    font-size: 30px;
}

.contactContainer{
    // border: 2px solid black;
    width: 100%;
    display: flex;
    justify-content: center;
    flex-direction: row;
    margin-left: 5%;
}

.contact{
    font-size: 25px;
    margin-right: 2%;
    margin-top: 0;
    // border: solid;
    position: relative;
    text-decoration: none;
    &:hover{
        color:#02203c;  
        cursor: default;
    }
}

.contact::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: #02203c;
    visibility: hidden;
    transform: scaleX(0);
    transition: all 0.3s ease-in-out 0s;
  }

  .contact:hover::before {
    visibility: visible;
    transform: scaleX(1);
  }