.container {
    // border: solid white;
    display: flex;
    justify-content: space-between;
    background-color: #02203c;
    height: 8vh;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 100;
    &:hover{
      cursor: default;
    }
}

.logoContainer{
  // border: solid white;
  margin-left: 3%;
  display: flex;
  // justify-content: flex-end;
  align-items: center;
}

.logo{
  width: 100%;
}

.categoryContainer{
  // border: solid white;
    display: flex;
    width:80%;
    justify-content: flex-end;
    align-items: center;
    margin: 0 3%;
    // border: solid white;
}

.category{
    // border: solid;
    margin-right: 1%;
    margin-left: 1%;
    position: relative;
    text-decoration: none;
    font-weight: bold;
    color:white;
    &:hover {
        color: white;
        cursor: pointer
    }
}
//The two .category below are for the underline animation
.category::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: white;
    visibility: hidden;
    transform: scaleX(0);
    transition: all 0.3s ease-in-out 0s;
  }

  .category:hover::before {
    visibility: visible;
    transform: scaleX(1);
  }

.links{
    // border: 2px solid black;
    width: 50%;
    display: flex;
    justify-content: flex-end;
}
  
$desktop: 1200px;
$laptop: 1024px;
$tablet: 768px;
$phone: 480px;

@media only screen and (max-width: $phone){
  .container{

    // border: solid green;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    // padding: 10% 5% 5% 5%;
    height: 20vh;
    // width: 10%;
  }

   .categoryContainer{
    //  border: solid yellow;
    //  width: 56% !important;
    //  margin-right: 5% !important;
     display: flex;
     justify-content: space-evenly;
     font-size: 5vw;
    //  padding-left: 10%;
     
   }


  .logoContainer{
    // border: solid red;
    width: 100%;
    margin-bottom: 5%;
    // margin-right: 5% ;
    display: flex;
    justify-content: space-evenly;
  }

  .logo{
    width: 30%;
  }
   .category{
     margin: 0 2%;
   }

}
