.container {
    display: flex;
    justify-content: center;
    margin-top: 5%;
    border: 2px solid white;
}

.component {
    margin: 0 2%;
    text-decoration: none;
    color: white;
    font-size: 2em;

    &:hover {
        color: rgb(74, 180, 79);
    }
}