.container{
    display: flex;
    align-items: center;
    flex-direction: column;

    }

    .rowOne{
        // border: solid;s
        // width: 10%;
        // display: flex;
        // justify-content: center;
    }

    .rowTwo{
        // border: solid;
        // width: 80%;
        // display: flex;
        // justify-content: center;
    }

    .image{
        width: 120px;
        // height: 100px;
        // padding: 3%,4%,3%,4%;
        padding: 1%;
    }

    .description{
        font-size: 15px;
    }
