$phone: 480px;
$tablet: 768px;
$laptop: 1024px;
$desktop: 1200px;

.container{
    color:#15314b;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin: 5%;
    width: 50%;

    .contentContainer{
        display: flex;
        flex-wrap: wrap;
        justify-content: center;

        .content {
            display: flex;
            flex-direction: column;
            align-items: center;
            padding: 20px;

            .image {
                box-shadow: 0 0 0px rgb(0, 0, 0), 2px 2px 5px rgb(0, 0, 0);
                border-radius: 5px;
                width: 120px;
            }
            
            .description {
                box-shadow: 0 0 0px rgb(0, 0, 0), 2px 2px 5px rgb(0, 0, 0);
                border-radius: 2px;
                width: 120px;
            }
        }
    }
}

@media screen and (max-width: $phone){
    .container{
        margin: 0;
        align-items: center; 
        width: 100%;       

        .contentContainer{
            margin-top: 5%;
            width: 100%;

            .content {
                width: 50%;
                padding: 0;
            }

        }
    }
}


@media screen and (min-width: $phone) and (max-width: $tablet){
    .container{
        margin: 0;
        align-items: center; 
        width: 100%;       

        .contentContainer{
            // border: solid;
            margin-top: 5%;
            width: 100%;

            .content {
                // border: solid;
                width: 30%;
                padding: 0;
            }

        }
    }
}

// @media screen and (min-width: $tablet) and (max-width: $laptop){

// }

// @media screen and (min-width: $laptop) and (max-width: $tablet){

// }




