.container{
    background-color: white;
    // border: solid red;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    // width: 40%;
    border-radius: 15px;
    box-shadow: 0 0 0px rgb(0, 0, 0), 2px 2px 5px rgb(0, 0, 0);
    
    animation-name: containerAnimation;
    animation-duration: 0.5s;
    animation-fill-mode: forwards;
    transform:scale(0);

}

@keyframes containerAnimation{
    100%{transform:scale(1)}
}

.contentContainer{
    // border: solid;
    display: flex;
    flex-direction: row;
}

.content{
    // border: solid;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;

}

.image{
    width: 120px;
    // height: 100px;
    // padding: 3%,4%,3%,4%;
    // padding: 1%;
}

.description{
    font-size: 15px;
}
@media only screen and (max-width: 500px) {/*iphoneX*/
    .container{
        width: 100%;
        padding: 6%;
        margin: 0 10% 0 -15%;

    }

    .content{
        padding: 20px 15px 20px 15px;

    }

    .image{
        width: 65px;
    }

    .description{
        font-size: 13px;
    }
}
  
@media only screen and (min-width: 400px) and (max-width: 750px) {/*plus size phone*/
    .container{
        width: 100%;
        margin: 0 10% 0 -15%;
    }
}

@media only screen and (min-width: 750px) and (max-width: 799px) {/*ipad*/
    .container{
        width: 110%;
        margin: 0 10% 0 -15%;

    }

    .image{
        width: 80px;
    }
}


@media only screen and (min-width: 800px) and (max-width: 1100px) { /*ipad pro*/
    .container{
        width: 100%;
        margin-right: 20%;
    }

}