
.container{
    // border: solid green;
    color:#15314b;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    // justify-content: center;
    width: 1000px;
    height: 600px;
    // border-radius: 15px;
    font-family: 'Montserrat', sans-serif;
    text-align: center;
    font-size: 15px;
    margin: 5%;
}

.title{
    // border: solid;
    width: 80%;
    display: flex;
    justify-content: center;
    font-size: 40px;
}

.contentContainer{
    // border: solid;
    display: flex;
    flex-direction: row;
    margin: 3% 0;
}

.content{
    // border: solid;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    
}

.image{
    box-shadow: 0 0 0px rgb(0, 0, 0), 2px 2px 5px rgb(0, 0, 0);
    border-radius: 5px;
    width: 120px;
    
}

.description{
    box-shadow: 0 0 0px rgb(0, 0, 0), 2px 2px 5px rgb(0, 0, 0);
    border-radius: 2px;
    font-size: 15px;
    width: 120px;

}

$phone: 480px;
$tablet: 768px;
$laptop: 1024px;
$desktop: 1200px;

@media screen and (max-width: $phone){
    .container{
        // display: none;
        // border: solid orange;
        height: auto;
        margin: 0;
        width: auto !important;
        font-size: 12px;
        align-items: center;
        
        .title{
            font-size: 45px;
        }
        .contentContainer{
            // border: solid red;
            flex-direction: column;
        }
    }
}


@media screen and (min-width: $phone) and (max-width: $tablet){

}

@media screen and (min-width: $tablet) and (max-width: $laptop){

}

@media screen and (min-width: $laptop) and (max-width: $tablet){

}




