.container{
    display: flex;
    // border: 5px solid green;
    width: 80%;
    margin-left: 12%;
    // justify-content: space-between;
    // flex-direction: column;
}

.content{
    // border: solid;
    display:flex;
    align-items: center;
    flex-direction: column;

}

.project {
    position: relative;
    width: 90%;

    &:hover {
        cursor: pointer;
        .content {
            display: flex;
            justify-content: center;
            flex-direction: column;
            visibility: visible;
            opacity: 0.8; 
            padding: 0 20%;
            border-radius: 25px;

            .description {
                text-align: center;
            }
        }
    }

    .projectImage {
        border-radius: 25px;
        width: 100%;
    
        // &:hover {
            // filter: brightness(20%);
            // cursor: pointer;
        // }
    }

    .content {
        position: absolute;
        bottom: 0;
        right: 0;
        background: #02203c;
        color: white;
        height: 100%;
        opacity: 0;
        visibility: hidden;
        transition: visibility 0s, opacity 0.25s linear;
    }
}

.description{
    // border: solid;
    font-size: 25px;
    width: 150%;
}

.buttonContainer{
    // border: solid;
    width: 100%;
    display: flex;
    justify-content: center;

}

.button{
    outline: none;
    border:0;
    background-color: #6868d1;
    color: white;
    width: 25%;
    margin-top: 5%;
    margin-right: 5%;
    padding-top: 2%;
    padding-bottom: 2%;
    font-size: 20px;
    border-radius: 25px;

}

button:hover {
    cursor: pointer
}