.container{
    background-color: white;
    // margin:0;
    // padding: 2%;
    // border-radius: 25px;;
    // display: flex;
    // justify-content: center;
    // align-items: center;
    // flex-direction: column;
    // margin-bottom: 2%;
    // width: 80%;
    }

    .rowOne{
        border: solid;
        // width: 10%;
        // display: flex;
        // justify-content: center;
    }

    .rowTwo{
        // border: solid;
        // width: 80%;
        // display: flex;
        // justify-content: center;
    }

    .skill{
        border: solid;
    }

    .image{
        // border: solid;
        width: 180px;
        // height: 100px;
        // padding: 3%,4%,3%,4%;
        padding: 1%;
    }

    .descrption{

    }
